.main-content {
  h1, h2, h3, h4, h5, h6 {
    font-family: $impact-font;
    color: $red;
    font-weight: normal;
    margin: 0;
    line-height: 1.2em;
  }
}

.text-content {
  h1, h2, h3, h4, h5, h6 {
    margin: 2em 0 1.5em 0;
  }
}