@import "~@/assets/scss/settings";

.web-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: var(--bg-color);
  z-index: 100;
  &-content {
    position: relative;
    padding: 25px 15px 15px 200px;
    transition: all .2s ease-in-out;
    display: flex;
    @include media($sm) {
      padding: 15px 15px 15px 110px;
    }
  }
  &-logo {
    position: absolute;
    width: 150px;
    top: -40px;
    left: 20px;
    margin: 0;
    transition: all .2s ease-in-out;

    @include media($sm) {
      top: -20px;
      left: 55px;
      width: 80px;
    }
  }
  .menu-toggle-btn {
    position: absolute;
    left: 0;
    top: 10px;
  }

  .nav {
    display: flex;
    flex: 1;
    font-family: $impact-font;
    font-size: 22px;
    a {
      color: var(--primary-color);
      padding: 10px 15px;
      text-decoration: none;
      transition: all .2s ease-in-out;

      &:hover {
        color: $red;
      }
    }
  }

  .spacer {
    flex: 1;
  }

  .theme-switch {
    margin-top: 10px;
    @include media($sm) {
      margin-top: 0px;
    }
  }
}

.not-in-top {
  .web-header {
    &-content {
      padding-left: 140px;
      padding-top: 15px;
      @include media($sm) {
        padding: 15px 15px 15px 110px;
      }
    }
    &-logo {
      width: 100px;
      top: -20px;

      @include media($sm) {
        top: -20px;
        left: 55px;
        width: 80px;
      }
    }

    .nav {
      font-size: 20px
    }
  }
}