a.btn {
  background: $red;
  color: $white;
  display: inline-block;
  text-decoration: none;
  padding: 7px 15px;
  transition: all .2s ease-in-out;

  &:hover {
    background: darken($red, 20)
  }
}