.pagination {
  margin: 30px 15px;
  text-align: center;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  a {
    color: var(--primary-color);
    display: flex;
    margin: 5px;
    text-decoration: none;
    width: 40px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    &.nav {
      font-size: 2em
    }
    &:not(.nav) {
      background-image: url(~@/assets/i/hexagon-pager-dark.svg);
      &:hover {
        background-image: url(~@/assets/i/hexagon-pager-hover.svg);
      }
    }

    &.active {
      background-image: url(~@/assets/i/hexagon-pager-active.svg);
    }
  }


}