.slide-right-enter-active,
.slide-right-leave-active {
  .mobile-menu-cover {
    transition: .2s;
    opacity: 1;
  }
  .mobile-menu-navigation {
    transition: .2s;
    transform: translate(0%, 0);
  }
}

.slide-right-enter,
.slide-right-leave-to {
  .mobile-menu-cover {
    opacity: 0;
  }
}

.slide-right-enter {
  .mobile-menu-navigation {
    transition: all .2s ease-in-out;
    transform: translate(-100%, 0);
  }
}
.slide-right-leave-to {
  .mobile-menu-navigation {
    transition: all .2s ease-in-out;
    transform: translate(-100%, 0);
  }
}
