@import "~@/assets/scss/settings";
.ama-teaser {
  background: var(--bg-color-alt);
  color: var(--primary-color);
  box-shadow: 0 0 50px rgba(#000, .4);

  h4.date {
    padding: 20px 20px 0 20px;
    margin: 0 0 20px 0;
    font-family: $primary-font;
    font-size: 0.9rem;
    color: var(--primary-color);
  }

  .cover {
    margin-bottom: 15px;
  }
  header {
    padding: 0 20px;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .links {
    a {
      color: inherit;
    }
  }
  [data-theme="light"] & {
    background: $white;
  }
}
