@font-face {
  font-family: 'Audiowide';
  src: url('../fonts/audiowide/audiowide-regular-webfont.woff2') format('woff2'),
       url('../fonts/audiowide/audiowide-regular-webfont.woff') format('woff');
  font-style: normal;
  font-display: swap;
}
